@media only screen and (max-width: 320px){
    .desktop {
        display: none;
   }
   .mb {
       display: block;
   }
   .main {
       /* background-color: rgb(255, 255, 255); */
   }
   .main-left {
        display: none;
        background-color:rgba(114, 111, 111, 0.671);
   }
   
   .groups-list {
      display: block;
   }
    .list-category {
        display: flex;
        flex-direction: row;
        justify-content: center;
   }
   .item-category {
       padding: 1.2rem;
   }
   .item-category span {
       display:none;
   }
   .main-middle {
        /* background-color: blue; */
   }
   /*  */
   .content {
        display: block;
        padding: 15px;
        justify-content: center;

    }
   .main-right {
       border-left: 1px solid rgba(26, 24, 24, 0.658);
       background-color: cadetblue;
   }
}

@media only screen and (max-width:480px){
     .desktop {
        display: none;
   }
   .mb {
       display: block;
   }
   .main {
       background-color: rgb(255, 255, 255);
   }
   .main-left {
       display: none;
        background-color:rgba(114, 111, 111, 0.671);
   }
   
   .groups-list {
      display: block;
   }
    .list-category {
        display: flex;
        flex-direction: row;
        justify-content: center;
   }
   .item-category {
       padding: 1.2rem;
   }
   .item-category span {
       display:none;
   }
   .main-middle {
       display: block;
   }
   /*  */
   .main-middle .groups-list {
       display: none;
   }
   .content {
        display: block;
        padding: 15px;
        justify-content: space-between;

    }
   .main-right {
       border-left: 1px solid rgba(26, 24, 24, 0.658);
       background-color: cadetblue;
   }
}

@media only screen and (max-width:820px) {
    .desktop {
        display: none;
   }
   .mb {
       display: block;
   }
   .main {
       background-color: rgb(255, 255, 255);
   }
   .main-left {
        display: block;
        background-color:rgb(219, 55, 55);
   }
   
   .groups-list {

   }
    .list-category {
        /* display: flex;
        flex-direction: row;
        justify-content: center; */
   }
   .item-category {
       padding: 1.2rem;
   }
   .item-category span {
       display:none;
   }
   .main-middle {
       display: flex;
       flex-direction: row;
        width: 100%;
        background-color: rgb(255, 255, 255);
   }
   /*  */
   .content {
        display: block;
        padding: 15px;
        justify-content: space-between;

    }
   .main-right {
       margin: 15px;
       border-left: 1px solid rgba(26, 24, 24, 0.658);
       background-color: rgb(200, 112, 235);  
   }
}

@media only screen and (min-width:821px) {
    .desktop {
        display: flex;
   }
   .mb {
       display: none;
   }
   .main {
       width: 100%;
       background-color: rgb(255, 255, 255);
   }
   .main-left {
        width: 30%;
       border-left: 1px solid rgba(26, 24, 24, 0.658);
       background-color: rgb(255, 255, 255);
   }
   
   .groups-list {
       width: 100%;
   }
    .list-category {
      
        justify-content: center;
        margin: 10px;
        
   }
   .item-category {
        display: flex;
        flex-direction: row;
        padding: 1.2rem;
        border-radius:10px ;

   }
   .item-category:hover {
    background-color: rgba(58, 58, 58, 0.247);
   }
   .item-category p {
       margin-left: 10px;
   }
   .main-middle {
       width: 60%;
        background-color: rgb(255, 255, 255);
   }
   /*  */

   .content {
        padding: 30px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .item-post {
        margin-bottom: 40px;
    }
    .main-right {
       width: 30%;
       border-left: 1px solid rgba(26, 24, 24, 0.658);
       /* background-color: rgb(200, 112, 235);   */
   }
}