
@media only screen and (min-width: 100px) {
    .desktop {
      display: none;
   }
   .mb {
       display: block;
       flex-direction: row;
       justify-content: space-between;
   }
   .main {
       display: flex;
       flex-direction: row;
       justify-content: center;
   }
    .mb {
       display: flex;
       flex-direction: column;
   }
   .main-left {
       display: contents;
   }
    .list-category {
        display: flex;
        flex-direction:row ;
        justify-content: space-between;
        padding: 10px;
   }
   .item-category {
       display: flex;
       flex-direction: row;
       padding: 15px;
   }
   .item-category span {
       display:none;
   }

   .main-right {
       /* border-left: 1px solid rgba(26, 24, 24, 0.658); */
   }
   
}

@media only screen and (min-width: 645px) {
   .main {
       display: flex;
   }
   .desktop {
       display: none;
   }
   .mb{
       display: contents;
   }
   .main-left {
        border-right: 2px solid rgba(71, 70, 70, 0.288);
        align-items: center;
        align-content: center;
        justify-items: center;
   }
   .list-category {
       display: flex;
       flex-direction: column;

   }
   .item-category {
       display: flex;
       flex-direction: row;
       padding: 20px;
   }
   .item-category span{
       margin-left: 3px;
   }
   .main-left p{
        display: block;
   }
   /* main middle */
   .main-middle {
     max-width: 100%;
     justify-content: center;
   }


   /* main right */
   .main-right {
      display: block;
      float: right;
   }
}

@media only screen and (min-width: 900px) {
    .main {
        display:block;
        background-color: rgba(255, 255, 255);
        overflow-y: scroll;
   }
   .desktop {
        display: flex;  
   }
   .mb {
      display: none;
   }
  
   .main-left {
       /* background-color: rgb(219, 23, 23); */
       display: block;
   }
    .groups-list {
        
    }
   .list-category {
        /* border: 1px solid rgb(211, 206, 206); */
        
   }
   .item-category {
        max-width: 100%;
        /* align-items: flex-end; */
        border-radius: 10%;
   }
   .item-category:hover {
        background-color: rgba(137, 141, 141, 0.199);
       
   }
   .item-category p {
       margin-left: 5px;
   }
   .main-middle {
       /* border: 1px solid black; */
       background-color: rgb(255, 255, 255);
        align-items: center;
        display: flex;
        justify-content: center;
   }
   .content {
       width: 100%t;
      display: block;
      /* padding: 15px; */
      border-radius: 10px;
      border: 1px solid rgba(0, 0, 0, 0.082);
      margin-top:5 px;
      justify-content: space-around;
      overflow-y: auto;
   }
   .main-right  {
       background-color: rgb(255, 255, 255);
   }

}