.header {
    /* background-color: rgb(86, 46, 230); */
    
    height: 4.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    border-bottom: 3px solid rgba(0, 0, 0, 0.219);
    border: 2px  solid rgb(0, 0, 0,0.3);
}
.left {
    /* background-color: rgb(201, 29, 29); */
    /* min-width: 33%; */
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}
.hover-link {
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    border-radius: 25% ;
    padding: 20px;
}
.hover-link:hover {
    
    background-color: rgba(190, 195, 241, 0.39);
    border-bottom:2px solid rgba(85, 79, 79, 0.342);
}
.nav {  
    /* background-color: rgb(36, 84, 214); */
    /* border-bottom:1px solid rgb(149, 200, 241); */
    /* border-top:2px solid rgb(149, 200, 241); */
    /* border-radius: 10%; */
    display: flex;
    justify-content: space-evenly;
    
    align-items: center;
    
}
/* .nav-mobile {
    display: none;
} */
.group-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.list-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.item-nav {
    list-style: none;
    font-size: 20px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    border-radius: 25% ;
    padding: 20px;
}
.list-menu-mb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-nav-mb{
    list-style: none;
    font-size: 20px;
    padding: 20px;
}

@media screen and (max-height: 645px) {
  
}

/*  */
.item-nav:hover {
    background-color: rgba(173, 169, 169, 0.205);
    border-bottom:2px solid rgba(85, 79, 79, 0.342);
}
.right{
    background-color: rgb(255, 255, 255);
    min-width: 33%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

@media only screen and (max-width: 900px){
   
    .nav {
        display: none;
    }
    .right{
        display: none;
    }
    .mobile-nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .list-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
    /* sidebar */
/* /
  /* sidebar */
.sidebar {
  height: 100%;
  width:50%;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(17, 17, 17, 0.651);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 40px;
  justify-items: center;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
  margin-top :20px; ;
}
.sidepanel a:hover {
  color: #f1f1f1;
}

.closebtn {
    
    position: absolute;
    top:0 ;
    font-size: 0.5in;
    right: 25px;
    margin-bottom: 10px;
    /* background-color: rgba(34, 32, 32, 0.582) ; */
    justify-self: center;
}

}
@media only screen and (min-width: 900px) {
    .nav {
        display: flex;
    }
     .nav-mobile {
        display: none;
    }
     .sidebar {display: none;}

}